body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #b67f2d6f;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.logo-left-container {
    position: absolute;
    left: 20px;
    top: 10px;
}

.logo-left {
    height: 20px; /* Smaller size for better visibility on mobile */
}

.logo-center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.logo-center {
    height: 70px; /* Adjust size for better visibility on mobile */
    margin-bottom: 10px;
}

.glowing-search-bar {
    padding: 8px;
    width: 60%; /* Longer search bar */
    max-width: 600px; /* Maximum width for larger screens */
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px; /* Rounded corners */
    border: 1px solid #ccc; /* Border color */
    outline: none; /* Remove default outline */
    transition: box-shadow 0.3s ease-in-out; /* Smooth transition for the glow effect */
}

.glowing-search-bar:focus {
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.8); /* Glowing effect */
    border-color: #ffa500; /* Border color change on focus */
}

.software-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.software-item {
    margin: 10px;
    text-align: center;
}

.software-item img {
    width: 100px;
    height: 100px;
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(255, 165, 0, 0.6); /* Orange shadow */
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.pagination button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

@media (max-width: 600px) {
    .logo-center {
        height: 50px; /* Adjusted size for better visibility on mobile */
    }

    .glowing-search-bar {
        width: 80%;
        font-size: 14px;
    }

    .software-item img {
        width: 80px;
        height: 80px;
    }
}
